<%- include("partials/header"); -%>
<form action="/del" method="post">
    <h1><%=title%></h1>
    <p><%=content%></p>
    <button name="deletebutton" type="submit " value="<%=id%>" >Delete Post</button>
 </form> 
<%- include("partials/footer"); -%>
